body {
	background-color: #0099FF;
}

.titre{
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.image_accueil
{
	width:180px;
	height:162px;
}
.centrer{
	text-align:center;
}